<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Boilerplate</title>
    <link rel="shortcut icon" href="img/favicon.ico">

    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/print.css" media="print">

    <script src="js/vendor/modernizr.js"></script>
    <script src="js/app.js"></script>


</head>

<body>
<div>Some header</div>